{
  "swagger": "2.0",
  "info": {
    "description": "본 서비스는 한국수자원공사가 제공하는 공공데이터로서, 실시간 수도정보 중 압력 항목을 1시간 단위로 조회할 수 있도록 지원하는 서비스입니다. 본 데이터는 누수 가능성 진단, 관망 이상 탐지, 설비 유지보수 계획 수립, 장기적 운영 효율성 개선 등 다양한 실무 현장에서 직접적으로 활용할 수 있습니다. 이를 통해 민간 및 공공기업에서 연구와 정책 수립에 활용할 수 있습니다.\\n\\nㅁ 제공지점 : 취수장, 정수장, 가압장\\n\\nㅁ 제공항목 : 시설별 압력[kg/㎠], 관리번호, 태그SN, 태그설명, 데이터항목구분(M)\\n\\n  * 관리번호, 태그SN, 태그설명 : 측정항목의 고유값(내부관리용)\\n  * M : 순시값, 정시기준 측정된 실시간 압력[kg/㎠]",
    "version": "1.0.0",
    "title": "한국수자원공사_실시간 수도정보 압력(시간) 조회 서비스(GW)"
  },
  "host": "apis.data.go.kr/B500001/rwis/waterPressure_1",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/fcltylist/codelist_1": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fcltyMngNm": {
                              "type": "string",
                              "description": "시설관리명",
                              "properties": {}
                            },
                            "sujCode": {
                              "type": "string",
                              "description": "사업장코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "취수장,정수장,가압장 코드 조회 서비스",
        "description": "취수장,정수장,가압장 코드 조회 서비스",
        "operationId": "fcltylist/codelist_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "fcltyDivCode",
          "description": "시설구분코드 1 취수장 (2 정수장 3 가압장)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "줄수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "출력형식(xml/json) 기본값 : xml",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/list_1": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "no": {
                              "type": "string",
                              "description": "데이터 출력 번호",
                              "properties": {}
                            },
                            "occrrncDt": {
                              "type": "string",
                              "description": "압력정보가 측정된 발생일시",
                              "properties": {}
                            },
                            "fcltyNm": {
                              "type": "string",
                              "description": "실시간수도정보시스템에서 관리 하는 시설관리명",
                              "properties": {}
                            },
                            "fcltyMngNo": {
                              "type": "string",
                              "description": "실시간수도정보시스템에서 관리 하는 시설관리번호",
                              "properties": {}
                            },
                            "dataVal": {
                              "type": "string",
                              "description": "압력",
                              "properties": {}
                            },
                            "itemUnit": {
                              "type": "string",
                              "description": "측정단위",
                              "properties": {}
                            },
                            "dataItemDesc": {
                              "type": "string",
                              "description": "실시간수도 시스템에서 관리하는 태그 설명",
                              "properties": {}
                            },
                            "dataItemTagsn": {
                              "type": "string",
                              "description": "실시간수도 시스템에서 관리하는 태그 고유번호",
                              "properties": {}
                            },
                            "dataItemDiv": {
                              "type": "string",
                              "description": "M: 순시, A:적산차",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "1시간 압력정보 조회 서비스",
        "description": "1시간 압력정보 조회 서비스",
        "operationId": "list_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "stDt",
          "description": "조회시작일자",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "stTm",
          "description": "조회시작시간",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "edDt",
          "description": "조회종료일자",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "edTm",
          "description": "조회종료시간",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "fcltyMngNo",
          "description": "시설관리번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sujCode",
          "description": "사업장코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "줄수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "_type",
          "description": "출력형식(xml/json) 기본값 : xml",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "list_1_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "no": {
                      "type": "string",
                      "description": "데이터 출력 번호"
                    },
                    "occrrncDt": {
                      "type": "string",
                      "description": "압력정보가 측정된 발생일시"
                    },
                    "fcltyNm": {
                      "type": "string",
                      "description": "실시간수도정보시스템에서 관리 하는 시설관리명"
                    },
                    "fcltyMngNo": {
                      "type": "string",
                      "description": "실시간수도정보시스템에서 관리 하는 시설관리번호"
                    },
                    "dataVal": {
                      "type": "string",
                      "description": "압력"
                    },
                    "itemUnit": {
                      "type": "string",
                      "description": "측정단위"
                    },
                    "dataItemDesc": {
                      "type": "string",
                      "description": "실시간수도 시스템에서 관리하는 태그 설명"
                    },
                    "dataItemTagsn": {
                      "type": "string",
                      "description": "실시간수도 시스템에서 관리하는 태그 고유번호"
                    },
                    "dataItemDiv": {
                      "type": "string",
                      "description": "M: 순시, A:적산차"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    },
    "fcltylist/codelist_1_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "fcltyMngNm": {
                      "type": "string",
                      "description": "시설관리명"
                    },
                    "sujCode": {
                      "type": "string",
                      "description": "사업장코드"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "http://opendata.kwater.or.kr/openapi-data/service/pubd/rwis/waterPressureG/list",
      "oprtinNm": "1시간 압력정보 조회 서비스",
      "oprtinDc": "1시간 압력정보 조회 서비스",
      "gwSvcNm": "list_1",
      "operationId": "list_1",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "stDt",
          "paramtrDc": "조회시작일자",
          "paramtrBassValue": "20151119",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "stTm",
          "paramtrDc": "조회시작시간",
          "paramtrBassValue": "00",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "edDt",
          "paramtrDc": "조회종료일자",
          "paramtrBassValue": "20151119",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "edTm",
          "paramtrDc": "조회종료시간",
          "paramtrBassValue": "24",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "fcltyMngNo",
          "paramtrDc": "시설관리번호",
          "paramtrBassValue": "1121511215",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "sujCode",
          "paramtrDc": "사업장코드",
          "paramtrBassValue": "215",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "줄수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "_type",
          "paramtrDc": "출력형식(xml/json) 기본값 : xml",
          "paramtrBassValue": "xml",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "no",
                      "paramtrDc": "데이터 출력 번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "occrrncDt",
                      "paramtrDc": "압력정보가 측정된 발생일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "fcltyNm",
                      "paramtrDc": "실시간수도정보시스템에서 관리 하는 시설관리명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "fcltyMngNo",
                      "paramtrDc": "실시간수도정보시스템에서 관리 하는 시설관리번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dataVal",
                      "paramtrDc": "압력",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "itemUnit",
                      "paramtrDc": "측정단위",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dataItemDesc",
                      "paramtrDc": "실시간수도 시스템에서 관리하는 태그 설명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dataItemTagsn",
                      "paramtrDc": "실시간수도 시스템에서 관리하는 태그 고유번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dataItemDiv",
                      "paramtrDc": "M: 순시, A:적산차",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}
