{"swagger":"2.0","info":{"version":"1","title":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15097973/v1/uddi:08b3acb3-452c-49af-ac75-cd10b00b0624":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220131","operationId":"getuddi:08b3acb3-452c-49af-ac75-cd10b00b0624","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:08b3acb3-452c-49af-ac75-cd10b00b0624_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220228","operationId":"getuddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220331","operationId":"getuddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:eb6389f0-f8ae-4126-80eb-c52d236dca44":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220430","operationId":"getuddi:eb6389f0-f8ae-4126-80eb-c52d236dca44","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:eb6389f0-f8ae-4126-80eb-c52d236dca44_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:99bb8d7f-623c-49d7-9625-d9859c8cd7d3":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220531","operationId":"getuddi:99bb8d7f-623c-49d7-9625-d9859c8cd7d3","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:99bb8d7f-623c-49d7-9625-d9859c8cd7d3_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:ba9f1781-b4b8-4b2f-80b2-b03c36bdeb89":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220630","operationId":"getuddi:ba9f1781-b4b8-4b2f-80b2-b03c36bdeb89","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ba9f1781-b4b8-4b2f-80b2-b03c36bdeb89_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:7c4008d2-dfdf-469c-8893-ac32a8d22aee":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220731","operationId":"getuddi:7c4008d2-dfdf-469c-8893-ac32a8d22aee","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7c4008d2-dfdf-469c-8893-ac32a8d22aee_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:03aa970c-e30c-4cc8-b909-c904e42bee32":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220831","operationId":"getuddi:03aa970c-e30c-4cc8-b909-c904e42bee32","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:03aa970c-e30c-4cc8-b909-c904e42bee32_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:4d105236-a940-4401-a2a7-d521e28ccdb0":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220930","operationId":"getuddi:4d105236-a940-4401-a2a7-d521e28ccdb0","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20220930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4d105236-a940-4401-a2a7-d521e28ccdb0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:f05d0455-dabc-4692-9dc1-8f93f3fc8614":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221031","operationId":"getuddi:f05d0455-dabc-4692-9dc1-8f93f3fc8614","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f05d0455-dabc-4692-9dc1-8f93f3fc8614_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:960ae032-1c29-470f-a306-ee4b9fa55eec":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221130","operationId":"getuddi:960ae032-1c29-470f-a306-ee4b9fa55eec","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:960ae032-1c29-470f-a306-ee4b9fa55eec_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:dfe02a21-60f3-436f-a7fd-c22969857fe9":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221231","operationId":"getuddi:dfe02a21-60f3-436f-a7fd-c22969857fe9","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20221231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:dfe02a21-60f3-436f-a7fd-c22969857fe9_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:f2fee3eb-28ca-404d-a057-c72992102c57":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230131","operationId":"getuddi:f2fee3eb-28ca-404d-a057-c72992102c57","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f2fee3eb-28ca-404d-a057-c72992102c57_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:15afe134-6140-4c16-9c45-cc31d05c96a6":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230228","operationId":"getuddi:15afe134-6140-4c16-9c45-cc31d05c96a6","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:15afe134-6140-4c16-9c45-cc31d05c96a6_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:e52bb70b-1500-4fb9-930a-e9df6bc7708c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230331","operationId":"getuddi:e52bb70b-1500-4fb9-930a-e9df6bc7708c","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e52bb70b-1500-4fb9-930a-e9df6bc7708c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:8b4f48d7-0696-43d7-a8c4-899a29ff5419":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230430","operationId":"getuddi:8b4f48d7-0696-43d7-a8c4-899a29ff5419","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8b4f48d7-0696-43d7-a8c4-899a29ff5419_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6b8f3c48-270f-4905-af6b-d25950d7c344":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230531","operationId":"getuddi:6b8f3c48-270f-4905-af6b-d25950d7c344","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6b8f3c48-270f-4905-af6b-d25950d7c344_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:ce798ae1-d0e0-4eca-b825-b33ff9898a33":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230630","operationId":"getuddi:ce798ae1-d0e0-4eca-b825-b33ff9898a33","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ce798ae1-d0e0-4eca-b825-b33ff9898a33_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:193c1eb0-3abe-4784-a409-9bc22b0f67bb":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230731","operationId":"getuddi:193c1eb0-3abe-4784-a409-9bc22b0f67bb","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:193c1eb0-3abe-4784-a409-9bc22b0f67bb_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:e7dec60f-2b48-4f08-b352-88a749e72056":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230831","operationId":"getuddi:e7dec60f-2b48-4f08-b352-88a749e72056","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e7dec60f-2b48-4f08-b352-88a749e72056_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:a1b2efe4-e42c-4e10-8506-bb64d4240894":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230930","operationId":"getuddi:a1b2efe4-e42c-4e10-8506-bb64d4240894","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20230930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a1b2efe4-e42c-4e10-8506-bb64d4240894_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:eec06ddd-4159-4929-9d66-fafaf4e5260b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231031","operationId":"getuddi:eec06ddd-4159-4929-9d66-fafaf4e5260b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:eec06ddd-4159-4929-9d66-fafaf4e5260b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6d6d80d1-1107-41b4-8d00-eea98018e1fc":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231130","operationId":"getuddi:6d6d80d1-1107-41b4-8d00-eea98018e1fc","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6d6d80d1-1107-41b4-8d00-eea98018e1fc_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:34bc007b-2d53-4879-b558-814bcae3238a":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231231","operationId":"getuddi:34bc007b-2d53-4879-b558-814bcae3238a","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:34bc007b-2d53-4879-b558-814bcae3238a_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:2b8a91e7-b33b-486a-bc28-d518c2682274":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240131","operationId":"getuddi:2b8a91e7-b33b-486a-bc28-d518c2682274","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2b8a91e7-b33b-486a-bc28-d518c2682274_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:4debcd54-a4c3-4de0-a39f-91f02293f00f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240229","operationId":"getuddi:4debcd54-a4c3-4de0-a39f-91f02293f00f","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240229","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4debcd54-a4c3-4de0-a39f-91f02293f00f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:f53acc03-4232-4f96-8ba8-9ca7085bdffe":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240331","operationId":"getuddi:f53acc03-4232-4f96-8ba8-9ca7085bdffe","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f53acc03-4232-4f96-8ba8-9ca7085bdffe_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:5803f00e-3423-4376-9999-ac5ba7afd7bf":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240430","operationId":"getuddi:5803f00e-3423-4376-9999-ac5ba7afd7bf","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5803f00e-3423-4376-9999-ac5ba7afd7bf_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:cec431cb-1ed9-40d7-87c6-b3079512e8d7":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240531","operationId":"getuddi:cec431cb-1ed9-40d7-87c6-b3079512e8d7","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:cec431cb-1ed9-40d7-87c6-b3079512e8d7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:c0a0c67b-42f3-46fa-9c96-fb23420ee331":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240630","operationId":"getuddi:c0a0c67b-42f3-46fa-9c96-fb23420ee331","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c0a0c67b-42f3-46fa-9c96-fb23420ee331_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:ce1df0ce-5ca1-4c16-a867-d79f66b8e63b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240731","operationId":"getuddi:ce1df0ce-5ca1-4c16-a867-d79f66b8e63b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ce1df0ce-5ca1-4c16-a867-d79f66b8e63b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:13970319-1c5d-4361-b34d-d7e5f7e53e10":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240831","operationId":"getuddi:13970319-1c5d-4361-b34d-d7e5f7e53e10","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:13970319-1c5d-4361-b34d-d7e5f7e53e10_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6c4a5ee8-0aa2-4aa7-8345-8eeefb6cf113":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240930","operationId":"getuddi:6c4a5ee8-0aa2-4aa7-8345-8eeefb6cf113","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20240930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6c4a5ee8-0aa2-4aa7-8345-8eeefb6cf113_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:7c30a29b-169e-421a-98b8-f82d6eb19615":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241031","operationId":"getuddi:7c30a29b-169e-421a-98b8-f82d6eb19615","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7c30a29b-169e-421a-98b8-f82d6eb19615_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:026bb122-ca87-43f4-9980-d07147e90c6d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241130","operationId":"getuddi:026bb122-ca87-43f4-9980-d07147e90c6d","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:026bb122-ca87-43f4-9980-d07147e90c6d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:a1055bbd-5335-41b7-bf7d-a7ba163fa72e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241231","operationId":"getuddi:a1055bbd-5335-41b7-bf7d-a7ba163fa72e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a1055bbd-5335-41b7-bf7d-a7ba163fa72e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:151c4fed-6340-47dd-82d9-88d347b46e83":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250131","operationId":"getuddi:151c4fed-6340-47dd-82d9-88d347b46e83","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:151c4fed-6340-47dd-82d9-88d347b46e83_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:bdcd1a59-808b-4470-9347-a8670160f41b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250228","operationId":"getuddi:bdcd1a59-808b-4470-9347-a8670160f41b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bdcd1a59-808b-4470-9347-a8670160f41b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:b403ddfd-dec2-432d-a596-8ab40c72bf83":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250331","operationId":"getuddi:b403ddfd-dec2-432d-a596-8ab40c72bf83","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b403ddfd-dec2-432d-a596-8ab40c72bf83_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:49d3a1b4-1a4e-48f9-8347-e7ffd858bc5d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250430","operationId":"getuddi:49d3a1b4-1a4e-48f9-8347-e7ffd858bc5d","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:49d3a1b4-1a4e-48f9-8347-e7ffd858bc5d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:27007bb9-e13e-4dd7-8ae4-8f0fffed6b9e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250531","operationId":"getuddi:27007bb9-e13e-4dd7-8ae4-8f0fffed6b9e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:27007bb9-e13e-4dd7-8ae4-8f0fffed6b9e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6708db5f-b08b-4411-b525-919479ace5e6":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250630","operationId":"getuddi:6708db5f-b08b-4411-b525-919479ace5e6","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6708db5f-b08b-4411-b525-919479ace5e6_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:dfdf5926-0da6-4457-b414-afe8993e3fd7":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250731","operationId":"getuddi:dfdf5926-0da6-4457-b414-afe8993e3fd7","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:dfdf5926-0da6-4457-b414-afe8993e3fd7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:99b5c776-5ff4-457e-83c6-e33ec8b1fcda":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250831","operationId":"getuddi:99b5c776-5ff4-457e-83c6-e33ec8b1fcda","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:99b5c776-5ff4-457e-83c6-e33ec8b1fcda_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:706ecef2-f1d6-44c3-9779-c367f0fab052":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250930","operationId":"getuddi:706ecef2-f1d6-44c3-9779-c367f0fab052","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20250930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:706ecef2-f1d6-44c3-9779-c367f0fab052_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:fe9da425-eff7-417f-abd1-b6ac3524a1ea":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251031","operationId":"getuddi:fe9da425-eff7-417f-abd1-b6ac3524a1ea","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:fe9da425-eff7-417f-abd1-b6ac3524a1ea_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:3db7b3d8-d7cf-4219-9965-cdc01eeb1756":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251130","operationId":"getuddi:3db7b3d8-d7cf-4219-9965-cdc01eeb1756","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3db7b3d8-d7cf-4219-9965-cdc01eeb1756_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6c885d53-cd86-48c3-b1fc-d729a952fbb4":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251231","operationId":"getuddi:6c885d53-cd86-48c3-b1fc-d729a952fbb4","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20251231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6c885d53-cd86-48c3-b1fc-d729a952fbb4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:ae1d7d21-d7cc-48e5-9b29-da7a88b86fdc":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260131","operationId":"getuddi:ae1d7d21-d7cc-48e5-9b29-da7a88b86fdc","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ae1d7d21-d7cc-48e5-9b29-da7a88b86fdc_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:1abd0021-67fd-4c49-b238-8d61d54b3c79":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260228","operationId":"getuddi:1abd0021-67fd-4c49-b238-8d61d54b3c79","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1abd0021-67fd-4c49-b238-8d61d54b3c79_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:6c9e190b-1860-4926-b1d8-e681db80619e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260331","operationId":"getuddi:6c9e190b-1860-4926-b1d8-e681db80619e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6c9e190b-1860-4926-b1d8-e681db80619e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:11555064-d9c8-449c-bf19-bca7c94de1f6":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260430","operationId":"getuddi:11555064-d9c8-449c-bf19-bca7c94de1f6","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:11555064-d9c8-449c-bf19-bca7c94de1f6_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:ca468e53-f48a-44f9-834b-89f74922cc22":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260531","operationId":"getuddi:ca468e53-f48a-44f9-834b-89f74922cc22","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ca468e53-f48a-44f9-834b-89f74922cc22_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097973/v1/uddi:d4661a1a-c878-4a6f-b218-cd3011006538":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260630","operationId":"getuddi:d4661a1a-c878-4a6f-b218-cd3011006538","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 1인세대수_20260630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d4661a1a-c878-4a6f-b218-cd3011006538_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:08b3acb3-452c-49af-ac75-cd10b00b0624_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"통계년월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"1인세대수":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:08b3acb3-452c-49af-ac75-cd10b00b0624_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:08b3acb3-452c-49af-ac75-cd10b00b0624_model"}}}},"uddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"통계년월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"1인세대수":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:53124119-1cff-480d-aa66-d9c9cd4a3ec1_model"}}}},"uddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"통계년월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"1인세대수":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d77f7e9c-24c0-4ed4-bd77-ed5da3ed494d_model"}}}},"uddi:eb6389f0-f8ae-4126-80eb-c52d236dca44_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"통계년월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"1인세대수":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:eb6389f0-f8ae-4126-80eb-c52d236dca44_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:eb6389f0-f8ae-4126-80eb-c52d236dca44_model"}}}},"uddi:99bb8d7f-623c-49d7-9625-d9859c8cd7d3_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"통계년월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"1인세대수":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description"
[...]
