{"swagger":"2.0","info":{"version":"1","title":"행정안전부_행정동_세대수 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15097974/v1/uddi:5f3131a7-3a72-4672-a273-f77b158bee10":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220930","operationId":"getuddi:5f3131a7-3a72-4672-a273-f77b158bee10","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5f3131a7-3a72-4672-a273-f77b158bee10_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220831","operationId":"getuddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:e653ee02-4b0e-4608-b989-9ad030038328":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220731","operationId":"getuddi:e653ee02-4b0e-4608-b989-9ad030038328","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e653ee02-4b0e-4608-b989-9ad030038328_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221031","operationId":"getuddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:6ff2c520-f66e-4600-8614-c8566be265da":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220630","operationId":"getuddi:6ff2c520-f66e-4600-8614-c8566be265da","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6ff2c520-f66e-4600-8614-c8566be265da_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:bc5bb751-edce-4d66-93cf-df83522e5403":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220531","operationId":"getuddi:bc5bb751-edce-4d66-93cf-df83522e5403","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bc5bb751-edce-4d66-93cf-df83522e5403_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221130","operationId":"getuddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220430","operationId":"getuddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:5d193803-8322-4f64-ad09-dc3af737fdee":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220331","operationId":"getuddi:5d193803-8322-4f64-ad09-dc3af737fdee","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5d193803-8322-4f64-ad09-dc3af737fdee_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:996967af-0795-4070-86af-cd195ea79a0e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221231","operationId":"getuddi:996967af-0795-4070-86af-cd195ea79a0e","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20221231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:996967af-0795-4070-86af-cd195ea79a0e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230131","operationId":"getuddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220228","operationId":"getuddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20220228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230228","operationId":"getuddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230331","operationId":"getuddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:50a58a47-2977-412a-83bc-9c4c6baac65b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230430","operationId":"getuddi:50a58a47-2977-412a-83bc-9c4c6baac65b","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:50a58a47-2977-412a-83bc-9c4c6baac65b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:fcf8c118-8b47-4413-a755-bd2492903460":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230531","operationId":"getuddi:fcf8c118-8b47-4413-a755-bd2492903460","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:fcf8c118-8b47-4413-a755-bd2492903460_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:e95880f1-3034-4400-a1a9-e894e8ec2edd":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230630","operationId":"getuddi:e95880f1-3034-4400-a1a9-e894e8ec2edd","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e95880f1-3034-4400-a1a9-e894e8ec2edd_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:2e3681f8-b631-445e-b103-c5c8047fe13e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230731","operationId":"getuddi:2e3681f8-b631-445e-b103-c5c8047fe13e","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2e3681f8-b631-445e-b103-c5c8047fe13e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:56897056-33e6-485f-956e-9df3998a2ff8":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230831","operationId":"getuddi:56897056-33e6-485f-956e-9df3998a2ff8","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:56897056-33e6-485f-956e-9df3998a2ff8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230930","operationId":"getuddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20230930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:bc62cf67-0f43-449d-84e8-bdaec591cfff":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231031","operationId":"getuddi:bc62cf67-0f43-449d-84e8-bdaec591cfff","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bc62cf67-0f43-449d-84e8-bdaec591cfff_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231130","operationId":"getuddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231231","operationId":"getuddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240131","operationId":"getuddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:d7417125-ade6-4816-9277-c9b74c220751":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240229","operationId":"getuddi:d7417125-ade6-4816-9277-c9b74c220751","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240229","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d7417125-ade6-4816-9277-c9b74c220751_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:6ee9db68-5e55-4823-8007-9474e68fc253":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240331","operationId":"getuddi:6ee9db68-5e55-4823-8007-9474e68fc253","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6ee9db68-5e55-4823-8007-9474e68fc253_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:ec5531bf-1e48-4374-868d-b097a249d6fa":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240430","operationId":"getuddi:ec5531bf-1e48-4374-868d-b097a249d6fa","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ec5531bf-1e48-4374-868d-b097a249d6fa_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:113fc3fd-8c01-46f9-923f-95ae509de734":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240531","operationId":"getuddi:113fc3fd-8c01-46f9-923f-95ae509de734","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:113fc3fd-8c01-46f9-923f-95ae509de734_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240630","operationId":"getuddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240731","operationId":"getuddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240831","operationId":"getuddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:557be4fb-d93a-4c79-b067-cda24ae7edea":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240930","operationId":"getuddi:557be4fb-d93a-4c79-b067-cda24ae7edea","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20240930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:557be4fb-d93a-4c79-b067-cda24ae7edea_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241031","operationId":"getuddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241130","operationId":"getuddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241231","operationId":"getuddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250131","operationId":"getuddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250228","operationId":"getuddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250331","operationId":"getuddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:fbbf23fa-7f19-46a0-9268-b3aa1378d75c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250430","operationId":"getuddi:fbbf23fa-7f19-46a0-9268-b3aa1378d75c","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:fbbf23fa-7f19-46a0-9268-b3aa1378d75c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:d445ead6-256f-4547-ba35-d95df7cffc8f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250531","operationId":"getuddi:d445ead6-256f-4547-ba35-d95df7cffc8f","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d445ead6-256f-4547-ba35-d95df7cffc8f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:bbc03171-3706-4d0d-a10b-c00ae903c924":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250630","operationId":"getuddi:bbc03171-3706-4d0d-a10b-c00ae903c924","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bbc03171-3706-4d0d-a10b-c00ae903c924_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:497e7e39-9520-47e0-b603-df226f5c6766":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250731","operationId":"getuddi:497e7e39-9520-47e0-b603-df226f5c6766","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:497e7e39-9520-47e0-b603-df226f5c6766_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:b35b3476-8c79-480c-8666-e6e5ccee8a37":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250831","operationId":"getuddi:b35b3476-8c79-480c-8666-e6e5ccee8a37","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b35b3476-8c79-480c-8666-e6e5ccee8a37_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:f3087de3-db47-41ed-afe4-a8be19c36e3c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250930","operationId":"getuddi:f3087de3-db47-41ed-afe4-a8be19c36e3c","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20250930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f3087de3-db47-41ed-afe4-a8be19c36e3c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:3de88ccb-4cd7-4eae-93cb-fc7d1c798b3e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251031","operationId":"getuddi:3de88ccb-4cd7-4eae-93cb-fc7d1c798b3e","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3de88ccb-4cd7-4eae-93cb-fc7d1c798b3e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:0bf422a0-3983-4fde-9889-dfc70f001041":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251130","operationId":"getuddi:0bf422a0-3983-4fde-9889-dfc70f001041","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0bf422a0-3983-4fde-9889-dfc70f001041_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:3dd8424c-09b6-4254-872b-bd8e17cc5b56":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251231","operationId":"getuddi:3dd8424c-09b6-4254-872b-bd8e17cc5b56","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20251231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3dd8424c-09b6-4254-872b-bd8e17cc5b56_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:0a7374fc-ceab-4ea3-9d0f-c4ad8cc0b753":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260131","operationId":"getuddi:0a7374fc-ceab-4ea3-9d0f-c4ad8cc0b753","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0a7374fc-ceab-4ea3-9d0f-c4ad8cc0b753_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:49d386a5-1da1-432d-b2bb-e7a8388c2b2d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260228","operationId":"getuddi:49d386a5-1da1-432d-b2bb-e7a8388c2b2d","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:49d386a5-1da1-432d-b2bb-e7a8388c2b2d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:8a42fabd-aa26-4075-a148-e5000687a184":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260331","operationId":"getuddi:8a42fabd-aa26-4075-a148-e5000687a184","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8a42fabd-aa26-4075-a148-e5000687a184_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:1d635f23-727f-42f5-ab4e-d366314ce29f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260430","operationId":"getuddi:1d635f23-727f-42f5-ab4e-d366314ce29f","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1d635f23-727f-42f5-ab4e-d366314ce29f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:e3ceb80e-6586-45e6-8776-bb5192d41b82":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260531","operationId":"getuddi:e3ceb80e-6586-45e6-8776-bb5192d41b82","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e3ceb80e-6586-45e6-8776-bb5192d41b82_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097974/v1/uddi:4b4f0012-af54-4c17-818b-b22d56dcb1bc":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260630","operationId":"getuddi:4b4f0012-af54-4c17-818b-b22d56dcb1bc","description":"행정안전부_지역별(행정동) 세대원수별 주민등록 세대수_20260630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4b4f0012-af54-4c17-818b-b22d56dcb1bc_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:5f3131a7-3a72-4672-a273-f77b158bee10_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:5f3131a7-3a72-4672-a273-f77b158bee10_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:5f3131a7-3a72-4672-a273-f77b158bee10_model"}}}},"uddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ec2f52c4-8b12-49ad-b70c-a8c57349916d_model"}}}},"uddi:e653ee02-4b0e-4608-b989-9ad030038328_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:e653ee02-4b0e-4608-b989-9ad030038328_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:e653ee02-4b0e-4608-b989-9ad030038328_model"}}}},"uddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:29305e1d-eebf-4762-be6a-f7a4fc510c3d_model"}}}},"uddi:6ff2c520-f66e-4600-8614-c8566be265da_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:6ff2c520-f66e-4600-8614-c8566be265da_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6ff2c520-f66e-4600-8614-c8566be265da_model"}}}},"uddi:bc5bb751-edce-4d66-93cf-df83522e5403_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:bc5bb751-edce-4d66-93cf-df83522e5403_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:bc5bb751-edce-4d66-93cf-df83522e5403_model"}}}},"uddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:bac10a65-ae5f-4e9a-9fc4-f144dc6c0bd5_model"}}}},"uddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:9a81a866-ce67-49ba-8bcb-df8ba8aad4c8_model"}}}},"uddi:5d193803-8322-4f64-ad09-dc3af737fdee_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:5d193803-8322-4f64-ad09-dc3af737fdee_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:5d193803-8322-4f64-ad09-dc3af737fdee_model"}}}},"uddi:996967af-0795-4070-86af-cd195ea79a0e_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:996967af-0795-4070-86af-cd195ea79a0e_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:996967af-0795-4070-86af-cd195ea79a0e_model"}}}},"uddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:5b89d4f5-88b7-4e30-bc1f-aabb6ed8adec_model"}}}},"uddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:3d8064c1-b64e-4029-b07f-d4a67eadc2a9_model"}}}},"uddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:03dc3642-95a5-4d29-bb0e-bc67f88fabf8_model"}}}},"uddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:4866f141-4e63-4c00-8ad5-a2fdf9b117e3_model"}}}},"uddi:50a58a47-2977-412a-83bc-9c4c6baac65b_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:50a58a47-2977-412a-83bc-9c4c6baac65b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:50a58a47-2977-412a-83bc-9c4c6baac65b_model"}}}},"uddi:fcf8c118-8b47-4413-a755-bd2492903460_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:fcf8c118-8b47-4413-a755-bd2492903460_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:fcf8c118-8b47-4413-a755-bd2492903460_model"}}}},"uddi:e95880f1-3034-4400-a1a9-e894e8ec2edd_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:e95880f1-3034-4400-a1a9-e894e8ec2edd_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:e95880f1-3034-4400-a1a9-e894e8ec2edd_model"}}}},"uddi:2e3681f8-b631-445e-b103-c5c8047fe13e_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:2e3681f8-b631-445e-b103-c5c8047fe13e_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:2e3681f8-b631-445e-b103-c5c8047fe13e_model"}}}},"uddi:56897056-33e6-485f-956e-9df3998a2ff8_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:56897056-33e6-485f-956e-9df3998a2ff8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:56897056-33e6-485f-956e-9df3998a2ff8_model"}}}},"uddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:957f1806-6eb0-4c71-8b27-c62169fd4ca9_model"}}}},"uddi:bc62cf67-0f43-449d-84e8-bdaec591cfff_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:bc62cf67-0f43-449d-84e8-bdaec591cfff_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:bc62cf67-0f43-449d-84e8-bdaec591cfff_model"}}}},"uddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:21a1b1ff-59bf-46a9-9ab6-bbeb4ba2d611_model"}}}},"uddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인세대이상":{"type":"integer","description":""}}},"uddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ea1c7e24-9cfd-487f-95b7-b816e57b3deb_model"}}}},"uddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:3b753d15-e88a-48c6-8eab-c04bf4e6915c_model"}}}},"uddi:d7417125-ade6-4816-9277-c9b74c220751_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:d7417125-ade6-4816-9277-c9b74c220751_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d7417125-ade6-4816-9277-c9b74c220751_model"}}}},"uddi:6ee9db68-5e55-4823-8007-9474e68fc253_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:6ee9db68-5e55-4823-8007-9474e68fc253_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6ee9db68-5e55-4823-8007-9474e68fc253_model"}}}},"uddi:ec5531bf-1e48-4374-868d-b097a249d6fa_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:ec5531bf-1e48-4374-868d-b097a249d6fa_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ec5531bf-1e48-4374-868d-b097a249d6fa_model"}}}},"uddi:113fc3fd-8c01-46f9-923f-95ae509de734_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:113fc3fd-8c01-46f9-923f-95ae509de734_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:113fc3fd-8c01-46f9-923f-95ae509de734_model"}}}},"uddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6d1e7db3-19ed-4099-9b46-b3d216cd5792_model"}}}},"uddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6fa86588-48f0-42e9-a2e1-c7fc3fda0719_model"}}}},"uddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:bc7ffc14-fb84-499e-85ce-fe97a58542c4_model"}}}},"uddi:557be4fb-d93a-4c79-b067-cda24ae7edea_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:557be4fb-d93a-4c79-b067-cda24ae7edea_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:557be4fb-d93a-4c79-b067-cda24ae7edea_model"}}}},"uddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:f1d59146-565d-4ce3-b3ac-a3935f9cdcd0_model"}}}},"uddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:a0a9b991-5c10-41b9-9aa1-eb6d586c0c0b_model"}}}},"uddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:2b0e78d9-718f-4dbd-b1cf-b10d0696e554_model"}}}},"uddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:21793411-3c83-4f7c-9b42-f3c631a6fa5c_model"}}}},"uddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:78a1f1a7-705e-4edf-bdbf-f0e839fb8e03_model"}}}},"uddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"integer","description":""},"6인세대":{"type":"integer","description":""},"7인세대":{"type":"integer","description":""},"8인세대":{"type":"integer","description":""},"9인세대":{"type":"integer","description":""},"10인이상세대":{"type":"integer","description":""}}},"uddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:f5edc8e3-82f0-4cac-875c-a690e00ddc1e_model"}}}},"uddi:fbbf23fa-7f19-46a0-9268-b3aa1378d75c_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"전체세대수":{"type":"integer","description":""},"1인세대":{"type":"integer","description":""},"2인세대":{"type":"integer","description":""},"3인세대":{"type":"integer","description":""},"4인세대":{"type":"integer","description":""},"5인세대":{"type":"int
[...]
