{"swagger":"2.0","info":{"version":"1","title":"인천광역시_버스노선별 정류장 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15048265/v1/uddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20211117","operationId":"getuddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340","description":"인천광역시_버스노선별 정류장 현황_20211117","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:78b804a1-4549-4666-883c-88362c8f48b0":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20220512","operationId":"getuddi:78b804a1-4549-4666-883c-88362c8f48b0","description":"인천광역시_버스노선별 정류장 현황_20220512","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:78b804a1-4549-4666-883c-88362c8f48b0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:4868578d-c3c0-4eed-a63f-e315586acead":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20221230","operationId":"getuddi:4868578d-c3c0-4eed-a63f-e315586acead","description":"인천광역시_버스노선별 정류장 현황_20221230","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4868578d-c3c0-4eed-a63f-e315586acead_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:54fdeceb-b631-453a-a960-fce8681bda69":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20230630","operationId":"getuddi:54fdeceb-b631-453a-a960-fce8681bda69","description":"인천광역시_버스노선별 정류장 현황_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:54fdeceb-b631-453a-a960-fce8681bda69_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20231231","operationId":"getuddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1","description":"인천광역시_버스노선별 정류장 현황_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:7a044d92-e41d-4c20-8319-821b2eea077e":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20240630","operationId":"getuddi:7a044d92-e41d-4c20-8319-821b2eea077e","description":"인천광역시_버스노선별 정류장 현황_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7a044d92-e41d-4c20-8319-821b2eea077e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20240701","operationId":"getuddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36","description":"인천광역시_버스노선별 정류장 현황_20240701","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20241231","operationId":"getuddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d","description":"인천광역시_버스노선별 정류장 현황_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20250630","operationId":"getuddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf","description":"인천광역시_버스노선별 정류장 현황_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048265/v1/uddi:67c62e6e-4f06-4674-bd02-d3010048a9f2":{"get":{"tags":["API 목록"],"summary":"인천광역시_버스노선별 정류장 현황_20251231","operationId":"getuddi:67c62e6e-4f06-4674-bd02-d3010048a9f2","description":"인천광역시_버스노선별 정류장 현황_20251231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:67c62e6e-4f06-4674-bd02-d3010048a9f2_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"아이에스씨 아이디":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b0cd7689-e7b6-4077-810e-ba801b6cddfa_202003241340_model"}}}},"uddi:78b804a1-4549-4666-883c-88362c8f48b0_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"아이에스씨 아이디":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:78b804a1-4549-4666-883c-88362c8f48b0_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:78b804a1-4549-4666-883c-88362c8f48b0_model"}}}},"uddi:4868578d-c3c0-4eed-a63f-e315586acead_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"아이에스씨 아이디":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:4868578d-c3c0-4eed-a63f-e315586acead_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:4868578d-c3c0-4eed-a63f-e315586acead_model"}}}},"uddi:54fdeceb-b631-453a-a960-fce8681bda69_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"string","description":""},"정류소간누적거리":{"type":"string","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:54fdeceb-b631-453a-a960-fce8681bda69_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:54fdeceb-b631-453a-a960-fce8681bda69_model"}}}},"uddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:46cb2a61-166e-4e5d-b02b-c46fb094c2f1_model"}}}},"uddi:7a044d92-e41d-4c20-8319-821b2eea077e_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:7a044d92-e41d-4c20-8319-821b2eea077e_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:7a044d92-e41d-4c20-8319-821b2eea077e_model"}}}},"uddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:20f2201c-1b39-42cf-b7c3-b50ab30ffe36_model"}}}},"uddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:f9c5a284-9071-44f3-95e5-dd15cbb4ae3d_model"}}}},"uddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 번호":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:3d1f6d75-bf4e-4fa7-a3d1-ab4b6807eadf_model"}}}},"uddi:67c62e6e-4f06-4674-bd02-d3010048a9f2_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"회사명":{"type":"string","description":""},"회사아이디":{"type":"integer","description":""},"노선번호":{"type":"string","description":""},"노선아이디":{"type":"integer","description":""},"순번":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"아이에스씨 아이디":{"type":"integer","description":""},"정류소구간거리":{"type":"integer","description":""},"정류소간누적거리":{"type":"integer","description":""},"주요경유지여부":{"type":"string","description":""},"상_하행":{"type":"string","description":""}}},"uddi:67c62e6e-4f06-4674-bd02-d3010048a9f2_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:67c62e6e-4f06-4674-bd02-d3010048a9f2_model"}}}}}}