{"swagger":"2.0","info":{"version":"1","title":"행정안전부_행정동_성별 연령별 주민등록 인구현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15097972/v1/uddi:a7891af9-05d8-4a11-bffb-c20d3d713601":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220930","operationId":"getuddi:a7891af9-05d8-4a11-bffb-c20d3d713601","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a7891af9-05d8-4a11-bffb-c20d3d713601_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:1978a144-11a0-47de-b7a3-864ba8944fe8":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220831","operationId":"getuddi:1978a144-11a0-47de-b7a3-864ba8944fe8","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1978a144-11a0-47de-b7a3-864ba8944fe8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220731","operationId":"getuddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:06e7d962-4a1f-4595-84e2-d088e159d31f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221031","operationId":"getuddi:06e7d962-4a1f-4595-84e2-d088e159d31f","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:06e7d962-4a1f-4595-84e2-d088e159d31f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:6a0c2cf5-a376-4402-9c8b-9893536b826b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220630","operationId":"getuddi:6a0c2cf5-a376-4402-9c8b-9893536b826b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6a0c2cf5-a376-4402-9c8b-9893536b826b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:c5185866-6a3f-4095-a4ff-e58304404645":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220531","operationId":"getuddi:c5185866-6a3f-4095-a4ff-e58304404645","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c5185866-6a3f-4095-a4ff-e58304404645_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:c082d5a6-772b-45f7-9155-f72fa72750c8":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221130","operationId":"getuddi:c082d5a6-772b-45f7-9155-f72fa72750c8","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c082d5a6-772b-45f7-9155-f72fa72750c8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:3f499011-3629-41cf-a03e-b56a4b00a17c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220430","operationId":"getuddi:3f499011-3629-41cf-a03e-b56a4b00a17c","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3f499011-3629-41cf-a03e-b56a4b00a17c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:39178381-977b-4dd6-85c2-b3f17b80139c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220331","operationId":"getuddi:39178381-977b-4dd6-85c2-b3f17b80139c","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:39178381-977b-4dd6-85c2-b3f17b80139c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:f14e710c-bd59-43f0-8012-de7b329a0506":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221231","operationId":"getuddi:f14e710c-bd59-43f0-8012-de7b329a0506","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20221231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f14e710c-bd59-43f0-8012-de7b329a0506_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:c9709173-bf16-4466-9944-d618c41af5fe":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230131","operationId":"getuddi:c9709173-bf16-4466-9944-d618c41af5fe","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c9709173-bf16-4466-9944-d618c41af5fe_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:a0dd2592-d4ba-42da-9042-d02bde2db624":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220228","operationId":"getuddi:a0dd2592-d4ba-42da-9042-d02bde2db624","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20220228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a0dd2592-d4ba-42da-9042-d02bde2db624_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:a2ef8cd2-0f47-401c-9a50-97bc7f809b87":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230228","operationId":"getuddi:a2ef8cd2-0f47-401c-9a50-97bc7f809b87","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a2ef8cd2-0f47-401c-9a50-97bc7f809b87_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:0c4b74b5-0d38-40b1-9ccb-e8fb4153a7db":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230331","operationId":"getuddi:0c4b74b5-0d38-40b1-9ccb-e8fb4153a7db","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0c4b74b5-0d38-40b1-9ccb-e8fb4153a7db_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:863f2e3f-616e-459b-ad97-bfe3a5d0d098":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230430","operationId":"getuddi:863f2e3f-616e-459b-ad97-bfe3a5d0d098","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:863f2e3f-616e-459b-ad97-bfe3a5d0d098_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:1185a51f-a5ba-4a22-bff1-828e592b2b7f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230531","operationId":"getuddi:1185a51f-a5ba-4a22-bff1-828e592b2b7f","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1185a51f-a5ba-4a22-bff1-828e592b2b7f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:5a0cbe01-571d-43a9-88f7-8e7baf4dcfe7":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230630","operationId":"getuddi:5a0cbe01-571d-43a9-88f7-8e7baf4dcfe7","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5a0cbe01-571d-43a9-88f7-8e7baf4dcfe7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:1ab6eecd-c48d-4668-a108-a050d55e29ad":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230731","operationId":"getuddi:1ab6eecd-c48d-4668-a108-a050d55e29ad","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1ab6eecd-c48d-4668-a108-a050d55e29ad_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:4e4007a8-cb46-47ee-80bb-f6419a45ee81":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230831","operationId":"getuddi:4e4007a8-cb46-47ee-80bb-f6419a45ee81","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4e4007a8-cb46-47ee-80bb-f6419a45ee81_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:2be9c772-3931-43c7-8f3e-dde209d90c6e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230930","operationId":"getuddi:2be9c772-3931-43c7-8f3e-dde209d90c6e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2be9c772-3931-43c7-8f3e-dde209d90c6e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:12e32667-70bb-4ab2-bc5e-c14d5331b9d3":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231031","operationId":"getuddi:12e32667-70bb-4ab2-bc5e-c14d5331b9d3","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:12e32667-70bb-4ab2-bc5e-c14d5331b9d3_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:9ccb1788-0f65-4862-b0d7-9b8288ae4117":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231130","operationId":"getuddi:9ccb1788-0f65-4862-b0d7-9b8288ae4117","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:9ccb1788-0f65-4862-b0d7-9b8288ae4117_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:cf891151-1f2d-4938-91d0-b20bbeadbd64":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231231","operationId":"getuddi:cf891151-1f2d-4938-91d0-b20bbeadbd64","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:cf891151-1f2d-4938-91d0-b20bbeadbd64_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:b7efb46c-88ed-49dd-b123-c2e193997172":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240131","operationId":"getuddi:b7efb46c-88ed-49dd-b123-c2e193997172","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b7efb46c-88ed-49dd-b123-c2e193997172_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:60d4b7a5-9c57-4156-9fd4-b84e9becb804":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240229","operationId":"getuddi:60d4b7a5-9c57-4156-9fd4-b84e9becb804","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240229","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:60d4b7a5-9c57-4156-9fd4-b84e9becb804_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:50ca14a3-669c-4006-b239-bc46b7d07311":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240331","operationId":"getuddi:50ca14a3-669c-4006-b239-bc46b7d07311","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:50ca14a3-669c-4006-b239-bc46b7d07311_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:780a2373-bf11-4fb6-b3e4-ed4119571817":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240430","operationId":"getuddi:780a2373-bf11-4fb6-b3e4-ed4119571817","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:780a2373-bf11-4fb6-b3e4-ed4119571817_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:3106da79-9e89-4af2-85f4-a132a46491ac":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240531","operationId":"getuddi:3106da79-9e89-4af2-85f4-a132a46491ac","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:3106da79-9e89-4af2-85f4-a132a46491ac_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:65f0a3a4-df42-44aa-af59-e7b0cebe2bd4":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240630","operationId":"getuddi:65f0a3a4-df42-44aa-af59-e7b0cebe2bd4","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:65f0a3a4-df42-44aa-af59-e7b0cebe2bd4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:a51f43ff-da64-43ca-a910-b0d7e9badf40":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240731","operationId":"getuddi:a51f43ff-da64-43ca-a910-b0d7e9badf40","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a51f43ff-da64-43ca-a910-b0d7e9badf40_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:2a490ae1-5848-42fe-8dfd-f6c910394143":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240831","operationId":"getuddi:2a490ae1-5848-42fe-8dfd-f6c910394143","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2a490ae1-5848-42fe-8dfd-f6c910394143_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:037a02ea-ec5f-4508-9ea7-a237fb3086f9":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240930","operationId":"getuddi:037a02ea-ec5f-4508-9ea7-a237fb3086f9","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:037a02ea-ec5f-4508-9ea7-a237fb3086f9_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:20b3fb3e-f72b-4124-8fb6-e18a84742d8d":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241031","operationId":"getuddi:20b3fb3e-f72b-4124-8fb6-e18a84742d8d","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:20b3fb3e-f72b-4124-8fb6-e18a84742d8d_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:f93c5758-211c-4daf-bad2-dc25b6a60886":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241130","operationId":"getuddi:f93c5758-211c-4daf-bad2-dc25b6a60886","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f93c5758-211c-4daf-bad2-dc25b6a60886_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:166d5c0e-d0f4-4604-ab10-a0a277b7ed45":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241231","operationId":"getuddi:166d5c0e-d0f4-4604-ab10-a0a277b7ed45","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:166d5c0e-d0f4-4604-ab10-a0a277b7ed45_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:8f7919bd-b86e-48e3-9eb1-bea56b7d3e8f":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250131","operationId":"getuddi:8f7919bd-b86e-48e3-9eb1-bea56b7d3e8f","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8f7919bd-b86e-48e3-9eb1-bea56b7d3e8f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:35f977f2-fbd7-40b1-bc65-f1bfca73dd94":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250228","operationId":"getuddi:35f977f2-fbd7-40b1-bc65-f1bfca73dd94","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:35f977f2-fbd7-40b1-bc65-f1bfca73dd94_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:65da0d96-f157-44c7-9e93-f3448e659151":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250331","operationId":"getuddi:65da0d96-f157-44c7-9e93-f3448e659151","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:65da0d96-f157-44c7-9e93-f3448e659151_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:1a0a48a3-d171-482f-9156-db5f8c955dd1":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250430","operationId":"getuddi:1a0a48a3-d171-482f-9156-db5f8c955dd1","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1a0a48a3-d171-482f-9156-db5f8c955dd1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:0d9bffb0-58ea-4dd3-b67f-f374499b006b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250531","operationId":"getuddi:0d9bffb0-58ea-4dd3-b67f-f374499b006b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0d9bffb0-58ea-4dd3-b67f-f374499b006b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:bd46a1de-d8e2-4051-adae-e687776acd3e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250630","operationId":"getuddi:bd46a1de-d8e2-4051-adae-e687776acd3e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bd46a1de-d8e2-4051-adae-e687776acd3e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:4f1b760d-bc07-4803-a0a0-cbb0d9c85516":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250731","operationId":"getuddi:4f1b760d-bc07-4803-a0a0-cbb0d9c85516","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4f1b760d-bc07-4803-a0a0-cbb0d9c85516_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:24b63f6f-3469-478c-9a66-a78594924338":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250831","operationId":"getuddi:24b63f6f-3469-478c-9a66-a78594924338","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:24b63f6f-3469-478c-9a66-a78594924338_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:49bbde6c-b9b1-49bc-9044-9ada71dcc4f4":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250930","operationId":"getuddi:49bbde6c-b9b1-49bc-9044-9ada71dcc4f4","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20250930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:49bbde6c-b9b1-49bc-9044-9ada71dcc4f4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:809e93c7-b6ef-4e90-bb42-b345de18ada5":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251031","operationId":"getuddi:809e93c7-b6ef-4e90-bb42-b345de18ada5","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:809e93c7-b6ef-4e90-bb42-b345de18ada5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:97968414-57d1-45a9-9cc5-f531d23e8a1e":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251130","operationId":"getuddi:97968414-57d1-45a9-9cc5-f531d23e8a1e","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:97968414-57d1-45a9-9cc5-f531d23e8a1e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:28129e66-8c4b-4e39-9b11-a61958060b56":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251231","operationId":"getuddi:28129e66-8c4b-4e39-9b11-a61958060b56","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20251231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:28129e66-8c4b-4e39-9b11-a61958060b56_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:0c01da7d-f06a-4d1d-a02a-ead04136804c":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260131","operationId":"getuddi:0c01da7d-f06a-4d1d-a02a-ead04136804c","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0c01da7d-f06a-4d1d-a02a-ead04136804c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:a7a3e616-d680-42b9-ae74-f2c5d012da36":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260228","operationId":"getuddi:a7a3e616-d680-42b9-ae74-f2c5d012da36","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a7a3e616-d680-42b9-ae74-f2c5d012da36_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:b1817ce4-c4a0-4b49-a23c-9ec2d58f3db4":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260331","operationId":"getuddi:b1817ce4-c4a0-4b49-a23c-9ec2d58f3db4","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b1817ce4-c4a0-4b49-a23c-9ec2d58f3db4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:c90baa1e-56d5-4428-bfc6-941cc5b3820a":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260430","operationId":"getuddi:c90baa1e-56d5-4428-bfc6-941cc5b3820a","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c90baa1e-56d5-4428-bfc6-941cc5b3820a_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:59bf4bd0-a476-4acf-a416-d007b32860a1":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260531","operationId":"getuddi:59bf4bd0-a476-4acf-a416-d007b32860a1","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:59bf4bd0-a476-4acf-a416-d007b32860a1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15097972/v1/uddi:5702ac2f-e6b6-4db4-ba6e-8744c4bc364b":{"get":{"tags":["API 목록"],"summary":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260630","operationId":"getuddi:5702ac2f-e6b6-4db4-ba6e-8744c4bc364b","description":"행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20260630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5702ac2f-e6b6-4db4-ba6e-8744c4bc364b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:a7891af9-05d8-4a11-bffb-c20d3d713601_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"계":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:a7891af9-05d8-4a11-bffb-c20d3d713601_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:a7891af9-05d8-4a11-bffb-c20d3d713601_model"}}}},"uddi:1978a144-11a0-47de-b7a3-864ba8944fe8_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"계":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:1978a144-11a0-47de-b7a3-864ba8944fe8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1978a144-11a0-47de-b7a3-864ba8944fe8_model"}}}},"uddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"계":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ac3e0e73-9bb3-4e30-ba4e-ce5a7d3927e0_model"}}}},"uddi:06e7d962-4a1f-4595-84e2-d088e159d31f_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"계":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","description":""},"만47세남자":{"type":"integer","description":""},"만48세남자":{"type":"integer","description":""},"만49세남자":{"type":"integer","description":""},"만50세남자":{"type":"integer","description":""},"만51세남자":{"type":"integer","description":""},"만52세남자":{"type":"integer","description":""},"만53세남자":{"type":"integer","description":""},"만54세남자":{"type":"integer","description":""},"만55세남자":{"type":"integer","description":""},"만56세남자":{"type":"integer","description":""},"만57세남자":{"type":"integer","description":""},"만58세남자":{"type":"integer","description":""},"만59세남자":{"type":"integer","description":""},"만60세남자":{"type":"integer","description":""},"만61세남자":{"type":"integer","description":""},"만62세남자":{"type":"integer","description":""},"만63세남자":{"type":"integer","description":""},"만64세남자":{"type":"integer","description":""},"만65세남자":{"type":"integer","description":""},"만66세남자":{"type":"integer","description":""},"만67세남자":{"type":"integer","description":""},"만68세남자":{"type":"integer","description":""},"만69세남자":{"type":"integer","description":""},"만70세남자":{"type":"integer","description":""},"만71세남자":{"type":"integer","description":""},"만72세남자":{"type":"integer","description":""},"만73세남자":{"type":"integer","description":""},"만74세남자":{"type":"integer","description":""},"만75세남자":{"type":"integer","description":""},"만76세남자":{"type":"integer","description":""},"만77세남자":{"type":"integer","description":""},"만78세남자":{"type":"integer","description":""},"만79세남자":{"type":"integer","description":""},"만80세남자":{"type":"integer","description":""},"만81세남자":{"type":"integer","description":""},"만82세남자":{"type":"integer","description":""},"만83세남자":{"type":"integer","description":""},"만84세남자":{"type":"integer","description":""},"만85세남자":{"type":"integer","description":""},"만86세남자":{"type":"integer","description":""},"만87세남자":{"type":"integer","description":""},"만88세남자":{"type":"integer","description":""},"만89세남자":{"type":"integer","description":""},"만90세남자":{"type":"integer","description":""},"만91세남자":{"type":"integer","description":""},"만92세남자":{"type":"integer","description":""},"만93세남자":{"type":"integer","description":""},"만94세남자":{"type":"integer","description":""},"만95세남자":{"type":"integer","description":""},"만96세남자":{"type":"integer","description":""},"만97세남자":{"type":"integer","description":""},"만98세남자":{"type":"integer","description":""},"만99세남자":{"type":"integer","description":""},"만100세남자":{"type":"integer","description":""},"만101세남자":{"type":"integer","description":""},"만102세남자":{"type":"integer","description":""},"만103세남자":{"type":"integer","description":""},"만104세남자":{"type":"integer","description":""},"만105세남자":{"type":"integer","description":""},"만106세남자":{"type":"integer","description":""},"만107세남자":{"type":"integer","description":""},"만108세남자":{"type":"integer","description":""},"만109세남자":{"type":"integer","description":""},"만110세이상남자":{"type":"integer","description":""},"만0세여자":{"type":"integer","description":""},"만1세여자":{"type":"integer","description":""},"만2세여자":{"type":"integer","description":""},"만3세여자":{"type":"integer","description":""},"만4세여자":{"type":"integer","description":""},"만5세여자":{"type":"integer","description":""},"만6세여자":{"type":"integer","description":""},"만7세여자":{"type":"integer","description":""},"만8세여자":{"type":"integer","description":""},"만9세여자":{"type":"integer","description":""},"만10세여자":{"type":"integer","description":""},"만11세여자":{"type":"integer","description":""},"만12세여자":{"type":"integer","description":""},"만13세여자":{"type":"integer","description":""},"만14세여자":{"type":"integer","description":""},"만15세여자":{"type":"integer","description":""},"만16세여자":{"type":"integer","description":""},"만17세여자":{"type":"integer","description":""},"만18세여자":{"type":"integer","description":""},"만19세여자":{"type":"integer","description":""},"만20세여자":{"type":"integer","description":""},"만21세여자":{"type":"integer","description":""},"만22세여자":{"type":"integer","description":""},"만23세여자":{"type":"integer","description":""},"만24세여자":{"type":"integer","description":""},"만25세여자":{"type":"integer","description":""},"만26세여자":{"type":"integer","description":""},"만27세여자":{"type":"integer","description":""},"만28세여자":{"type":"integer","description":""},"만29세여자":{"type":"integer","description":""},"만30세여자":{"type":"integer","description":""},"만31세여자":{"type":"integer","description":""},"만32세여자":{"type":"integer","description":""},"만33세여자":{"type":"integer","description":""},"만34세여자":{"type":"integer","description":""},"만35세여자":{"type":"integer","description":""},"만36세여자":{"type":"integer","description":""},"만37세여자":{"type":"integer","description":""},"만38세여자":{"type":"integer","description":""},"만39세여자":{"type":"integer","description":""},"만40세여자":{"type":"integer","description":""},"만41세여자":{"type":"integer","description":""},"만42세여자":{"type":"integer","description":""},"만43세여자":{"type":"integer","description":""},"만44세여자":{"type":"integer","description":""},"만45세여자":{"type":"integer","description":""},"만46세여자":{"type":"integer","description":""},"만47세여자":{"type":"integer","description":""},"만48세여자":{"type":"integer","description":""},"만49세여자":{"type":"integer","description":""},"만50세여자":{"type":"integer","description":""},"만51세여자":{"type":"integer","description":""},"만52세여자":{"type":"integer","description":""},"만53세여자":{"type":"integer","description":""},"만54세여자":{"type":"integer","description":""},"만55세여자":{"type":"integer","description":""},"만56세여자":{"type":"integer","description":""},"만57세여자":{"type":"integer","description":""},"만58세여자":{"type":"integer","description":""},"만59세여자":{"type":"integer","description":""},"만60세여자":{"type":"integer","description":""},"만61세여자":{"type":"integer","description":""},"만62세여자":{"type":"integer","description":""},"만63세여자":{"type":"integer","description":""},"만64세여자":{"type":"integer","description":""},"만65세여자":{"type":"integer","description":""},"만66세여자":{"type":"integer","description":""},"만67세여자":{"type":"integer","description":""},"만68세여자":{"type":"integer","description":""},"만69세여자":{"type":"integer","description":""},"만70세여자":{"type":"integer","description":""},"만71세여자":{"type":"integer","description":""},"만72세여자":{"type":"integer","description":""},"만73세여자":{"type":"integer","description":""},"만74세여자":{"type":"integer","description":""},"만75세여자":{"type":"integer","description":""},"만76세여자":{"type":"integer","description":""},"만77세여자":{"type":"integer","description":""},"만78세여자":{"type":"integer","description":""},"만79세여자":{"type":"integer","description":""},"만80세여자":{"type":"integer","description":""},"만81세여자":{"type":"integer","description":""},"만82세여자":{"type":"integer","description":""},"만83세여자":{"type":"integer","description":""},"만84세여자":{"type":"integer","description":""},"만85세여자":{"type":"integer","description":""},"만86세여자":{"type":"integer","description":""},"만87세여자":{"type":"integer","description":""},"만88세여자":{"type":"integer","description":""},"만89세여자":{"type":"integer","description":""},"만90세여자":{"type":"integer","description":""},"만91세여자":{"type":"integer","description":""},"만92세여자":{"type":"integer","description":""},"만93세여자":{"type":"integer","description":""},"만94세여자":{"type":"integer","description":""},"만95세여자":{"type":"integer","description":""},"만96세여자":{"type":"integer","description":""},"만97세여자":{"type":"integer","description":""},"만98세여자":{"type":"integer","description":""},"만99세여자":{"type":"integer","description":""},"만100세여자":{"type":"integer","description":""},"만101세여자":{"type":"integer","description":""},"만102세여자":{"type":"integer","description":""},"만103세여자":{"type":"integer","description":""},"만104세여자":{"type":"integer","description":""},"만105세여자":{"type":"integer","description":""},"만106세여자":{"type":"integer","description":""},"만107세여자":{"type":"integer","description":""},"만108세여자":{"type":"integer","description":""},"만109세여자":{"type":"integer","description":""},"만110세이상여자":{"type":"integer","description":""}}},"uddi:06e7d962-4a1f-4595-84e2-d088e159d31f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:06e7d962-4a1f-4595-84e2-d088e159d31f_model"}}}},"uddi:6a0c2cf5-a376-4402-9c8b-9893536b826b_model":{"type":"object","properties":{"행정기관코드":{"type":"integer","description":""},"기준연월":{"type":"string","description":""},"시도명":{"type":"string","description":""},"시군구명":{"type":"string","description":""},"읍면동명":{"type":"string","description":""},"계":{"type":"integer","description":""},"남자":{"type":"integer","description":""},"여자":{"type":"integer","description":""},"만0세남자":{"type":"integer","description":""},"만1세남자":{"type":"integer","description":""},"만2세남자":{"type":"integer","description":""},"만3세남자":{"type":"integer","description":""},"만4세남자":{"type":"integer","description":""},"만5세남자":{"type":"integer","description":""},"만6세남자":{"type":"integer","description":""},"만7세남자":{"type":"integer","description":""},"만8세남자":{"type":"integer","description":""},"만9세남자":{"type":"integer","description":""},"만10세남자":{"type":"integer","description":""},"만11세남자":{"type":"integer","description":""},"만12세남자":{"type":"integer","description":""},"만13세남자":{"type":"integer","description":""},"만14세남자":{"type":"integer","description":""},"만15세남자":{"type":"integer","description":""},"만16세남자":{"type":"integer","description":""},"만17세남자":{"type":"integer","description":""},"만18세남자":{"type":"integer","description":""},"만19세남자":{"type":"integer","description":""},"만20세남자":{"type":"integer","description":""},"만21세남자":{"type":"integer","description":""},"만22세남자":{"type":"integer","description":""},"만23세남자":{"type":"integer","description":""},"만24세남자":{"type":"integer","description":""},"만25세남자":{"type":"integer","description":""},"만26세남자":{"type":"integer","description":""},"만27세남자":{"type":"integer","description":""},"만28세남자":{"type":"integer","description":""},"만29세남자":{"type":"integer","description":""},"만30세남자":{"type":"integer","description":""},"만31세남자":{"type":"integer","description":""},"만32세남자":{"type":"integer","description":""},"만33세남자":{"type":"integer","description":""},"만34세남자":{"type":"integer","description":""},"만35세남자":{"type":"integer","description":""},"만36세남자":{"type":"integer","description":""},"만37세남자":{"type":"integer","description":""},"만38세남자":{"type":"integer","description":""},"만39세남자":{"type":"integer","description":""},"만40세남자":{"type":"integer","description":""},"만41세남자":{"type":"integer","description":""},"만42세남자":{"type":"integer","description":""},"만43세남자":{"type":"integer","description":""},"만44세남자":{"type":"integer","description":""},"만45세남자":{"type":"integer","description":""},"만46세남자":{"type":"integer","descripti
[...]
