{"swagger":"2.0","info":{"version":"1","title":"인천광역시_사회복지시설 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15045181/v1/uddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20180101","operationId":"getuddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325","description":"인천광역시_사회복지시설 현황_20180101","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15045181/v1/uddi:1dc18b07-a205-466a-a351-a1083c6c689a":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20201001","operationId":"getuddi:1dc18b07-a205-466a-a351-a1083c6c689a","description":"인천광역시_사회복지시설 현황_20201001","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1dc18b07-a205-466a-a351-a1083c6c689a_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15045181/v1/uddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20211025","operationId":"getuddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5","description":"인천광역시_사회복지시설 현황_20211025","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15045181/v1/uddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20221017","operationId":"getuddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c","description":"인천광역시_사회복지시설 현황_20221017","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15045181/v1/uddi:393c8be3-ed94-45bf-80f5-b3ad25f29710":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20240131","operationId":"getuddi:393c8be3-ed94-45bf-80f5-b3ad25f29710","description":"인천광역시_사회복지시설 현황_20240131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:393c8be3-ed94-45bf-80f5-b3ad25f29710_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15045181/v1/uddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6":{"get":{"tags":["API 목록"],"summary":"인천광역시_사회복지시설 현황_20250131","operationId":"getuddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6","description":"인천광역시_사회복지시설 현황_20250131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325_model":{"type":"object","properties":{"분류":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"기관명":{"type":"string","description":""},"우편번호":{"type":"string","description":""},"군구":{"type":"string","description":""},"주소":{"type":"string","description":""},"전화번호":{"type":"string","description":""},"팩스번호":{"type":"string","description":""}}},"uddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1919cd65-afbd-44a4-8729-af7131ea553f_201908291325_model"}}}},"uddi:1dc18b07-a205-466a-a351-a1083c6c689a_model":{"type":"object","properties":{"연번":{"type":"integer","description":""},"관련법":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"시설형태":{"type":"string","description":""},"시설명":{"type":"string","description":""},"군구명":{"type":"string","description":""},"주소":{"type":"string","description":""},"전화번호":{"type":"string","description":""}}},"uddi:1dc18b07-a205-466a-a351-a1083c6c689a_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1dc18b07-a205-466a-a351-a1083c6c689a_model"}}}},"uddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5_model":{"type":"object","properties":{"연번":{"type":"integer","description":""},"관련법":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"시설형태":{"type":"string","description":""},"시설명":{"type":"string","description":""},"군구명":{"type":"string","description":""},"주소":{"type":"string","description":""},"전화번호":{"type":"string","description":""}}},"uddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b6e1f364-a034-46e5-9d6f-cfa043922ed5_model"}}}},"uddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c_model":{"type":"object","properties":{"연번":{"type":"integer","description":""},"관련법령":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"시설명":{"type":"string","description":""},"군구명":{"type":"string","description":""},"주소":{"type":"string","description":""},"연락처":{"type":"string","description":""}}},"uddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b6c9d34f-80bd-4b12-9298-ebeb250e995c_model"}}}},"uddi:393c8be3-ed94-45bf-80f5-b3ad25f29710_model":{"type":"object","properties":{"연번":{"type":"integer","description":""},"관련법령":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"시설명":{"type":"string","description":""},"군구명":{"type":"string","description":""},"주소":{"type":"string","description":""},"연락처":{"type":"string","description":""}}},"uddi:393c8be3-ed94-45bf-80f5-b3ad25f29710_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:393c8be3-ed94-45bf-80f5-b3ad25f29710_model"}}}},"uddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6_model":{"type":"object","properties":{"연번":{"type":"integer","description":""},"관련 근거법":{"type":"string","description":""},"시설종류":{"type":"string","description":""},"시설형태":{"type":"string","description":""},"시설명":{"type":"string","description":""},"군구명":{"type":"string","description":""},"주소":{"type":"string","description":""},"연락처":{"type":"string","description":""}}},"uddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:5b1bd0d5-18cc-4edc-a87b-d5349ac47cd6_model"}}}}}}