{"swagger":"2.0","info":{"version":"1","title":"인천광역시_정류장별 이용승객 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15048264/v1/uddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20191231","operationId":"getuddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7","description":"인천광역시_정류장별 이용승객 현황_20191231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20201231","operationId":"getuddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3","description":"인천광역시_정류장별 이용승객 현황_20201231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20211231","operationId":"getuddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae","description":"인천광역시_정류장별 이용승객 현황_20211231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:f1b9b893-dba1-4558-8367-bdc0a91feadd":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220131","operationId":"getuddi:f1b9b893-dba1-4558-8367-bdc0a91feadd","description":"인천광역시_정류장별 이용승객 현황_20220131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:f1b9b893-dba1-4558-8367-bdc0a91feadd_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220228","operationId":"getuddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c","description":"인천광역시_정류장별 이용승객 현황_20220228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220331","operationId":"getuddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89","description":"인천광역시_정류장별 이용승객 현황_20220331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:397250e1-86cb-4413-9c36-ea8d8f4aa264":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220430","operationId":"getuddi:397250e1-86cb-4413-9c36-ea8d8f4aa264","description":"인천광역시_정류장별 이용승객 현황_20220430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:397250e1-86cb-4413-9c36-ea8d8f4aa264_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220531","operationId":"getuddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35","description":"인천광역시_정류장별 이용승객 현황_20220531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:957dd439-d559-4716-87df-fd3c9f12332f":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220831","operationId":"getuddi:957dd439-d559-4716-87df-fd3c9f12332f","description":"인천광역시_정류장별 이용승객 현황_20220831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:957dd439-d559-4716-87df-fd3c9f12332f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220930","operationId":"getuddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4","description":"인천광역시_정류장별 이용승객 현황_20220930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:e74eedbf-97d9-4176-81a7-debe927bd873":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20221031","operationId":"getuddi:e74eedbf-97d9-4176-81a7-debe927bd873","description":"인천광역시_정류장별 이용승객 현황_20221031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e74eedbf-97d9-4176-81a7-debe927bd873_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20221130","operationId":"getuddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174","description":"인천광역시_정류장별 이용승객 현황_20221130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20221231","operationId":"getuddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7","description":"인천광역시_정류장별 이용승객 현황_20221231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230131","operationId":"getuddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b","description":"인천광역시_정류장별 이용승객 현황_20230131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230228","operationId":"getuddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9","description":"인천광역시_정류장별 이용승객 현황_20230228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:a4bbad9e-8658-404e-b693-b45b262bc19c":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230331","operationId":"getuddi:a4bbad9e-8658-404e-b693-b45b262bc19c","description":"인천광역시_정류장별 이용승객 현황_20230331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:a4bbad9e-8658-404e-b693-b45b262bc19c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:73376069-42cf-4994-9fc3-e64133e9b9c0":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230430","operationId":"getuddi:73376069-42cf-4994-9fc3-e64133e9b9c0","description":"인천광역시_정류장별 이용승객 현황_20230430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:73376069-42cf-4994-9fc3-e64133e9b9c0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230531","operationId":"getuddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2","description":"인천광역시_정류장별 이용승객 현황_20230531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230630","operationId":"getuddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3","description":"인천광역시_정류장별 이용승객 현황_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230731","operationId":"getuddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78","description":"인천광역시_정류장별 이용승객 현황_20230731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:908f6324-6c2b-48cb-b489-e09ab1817428":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230831","operationId":"getuddi:908f6324-6c2b-48cb-b489-e09ab1817428","description":"인천광역시_정류장별 이용승객 현황_20230831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:908f6324-6c2b-48cb-b489-e09ab1817428_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:ea101e21-15b8-4e27-b7e5-c343fb41efda":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20230930","operationId":"getuddi:ea101e21-15b8-4e27-b7e5-c343fb41efda","description":"인천광역시_정류장별 이용승객 현황_20230930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ea101e21-15b8-4e27-b7e5-c343fb41efda_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20231031","operationId":"getuddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492","description":"인천광역시_정류장별 이용승객 현황_20231031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20231130","operationId":"getuddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91","description":"인천광역시_정류장별 이용승객 현황_20231130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:874182e0-0c4a-4c76-a917-8c625af490e8":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20231231","operationId":"getuddi:874182e0-0c4a-4c76-a917-8c625af490e8","description":"인천광역시_정류장별 이용승객 현황_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:874182e0-0c4a-4c76-a917-8c625af490e8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:38809191-e18e-4ca6-87f9-93fb4f33e140":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240131","operationId":"getuddi:38809191-e18e-4ca6-87f9-93fb4f33e140","description":"인천광역시_정류장별 이용승객 현황_20240131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:38809191-e18e-4ca6-87f9-93fb4f33e140_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240229","operationId":"getuddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964","description":"인천광역시_정류장별 이용승객 현황_20240229","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:20b8a262-d480-42a5-b4ef-d4e5ba012175":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220630","operationId":"getuddi:20b8a262-d480-42a5-b4ef-d4e5ba012175","description":"인천광역시_정류장별 이용승객 현황_20220630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:20b8a262-d480-42a5-b4ef-d4e5ba012175_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20220731","operationId":"getuddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543","description":"인천광역시_정류장별 이용승객 현황_20220731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:02d30c67-e904-4a34-9f73-ab6d7c441642":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240331","operationId":"getuddi:02d30c67-e904-4a34-9f73-ab6d7c441642","description":"인천광역시_정류장별 이용승객 현황_20240331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:02d30c67-e904-4a34-9f73-ab6d7c441642_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:8a57fca8-c211-487e-8641-96f1287104d8":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240430","operationId":"getuddi:8a57fca8-c211-487e-8641-96f1287104d8","description":"인천광역시_정류장별 이용승객 현황_20240430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:8a57fca8-c211-487e-8641-96f1287104d8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240531","operationId":"getuddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e","description":"인천광역시_정류장별 이용승객 현황_20240531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:ffcc931c-1c47-4f57-8433-97667f7af786":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240630","operationId":"getuddi:ffcc931c-1c47-4f57-8433-97667f7af786","description":"인천광역시_정류장별 이용승객 현황_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ffcc931c-1c47-4f57-8433-97667f7af786_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:d5dd817c-2659-44f8-bacd-e91d5c218127":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240731","operationId":"getuddi:d5dd817c-2659-44f8-bacd-e91d5c218127","description":"인천광역시_정류장별 이용승객 현황_20240731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d5dd817c-2659-44f8-bacd-e91d5c218127_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:cb5860ba-130f-491c-ad8b-f2e5024367c8":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240831","operationId":"getuddi:cb5860ba-130f-491c-ad8b-f2e5024367c8","description":"인천광역시_정류장별 이용승객 현황_20240831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:cb5860ba-130f-491c-ad8b-f2e5024367c8_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:5daa942f-316e-42b1-9042-8dec916ce6b5":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20240930","operationId":"getuddi:5daa942f-316e-42b1-9042-8dec916ce6b5","description":"인천광역시_정류장별 이용승객 현황_20240930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:5daa942f-316e-42b1-9042-8dec916ce6b5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:d6fa4184-c359-40e7-a763-ee58d0e42659":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20241031","operationId":"getuddi:d6fa4184-c359-40e7-a763-ee58d0e42659","description":"인천광역시_정류장별 이용승객 현황_20241031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d6fa4184-c359-40e7-a763-ee58d0e42659_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:53c886ff-dccc-40b5-9c15-e36217d32f73":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20241130","operationId":"getuddi:53c886ff-dccc-40b5-9c15-e36217d32f73","description":"인천광역시_정류장별 이용승객 현황_20241130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:53c886ff-dccc-40b5-9c15-e36217d32f73_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20241231","operationId":"getuddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f","description":"인천광역시_정류장별 이용승객 현황_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:06bc471a-a9aa-419a-9d78-e4c2958b9875":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250131","operationId":"getuddi:06bc471a-a9aa-419a-9d78-e4c2958b9875","description":"인천광역시_정류장별 이용승객 현황_20250131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:06bc471a-a9aa-419a-9d78-e4c2958b9875_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250228","operationId":"getuddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1","description":"인천광역시_정류장별 이용승객 현황_20250228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250331","operationId":"getuddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced","description":"인천광역시_정류장별 이용승객 현황_20250331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250430","operationId":"getuddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086","description":"인천광역시_정류장별 이용승객 현황_20250430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:ed5579e2-0039-47ee-8389-94a2b16d11aa":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250531","operationId":"getuddi:ed5579e2-0039-47ee-8389-94a2b16d11aa","description":"인천광역시_정류장별 이용승객 현황_20250531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:ed5579e2-0039-47ee-8389-94a2b16d11aa_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:75a69e58-159e-47a7-979d-af8549bab67b":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250630","operationId":"getuddi:75a69e58-159e-47a7-979d-af8549bab67b","description":"인천광역시_정류장별 이용승객 현황_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:75a69e58-159e-47a7-979d-af8549bab67b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250731","operationId":"getuddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0","description":"인천광역시_정류장별 이용승객 현황_20250731","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250831","operationId":"getuddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b","description":"인천광역시_정류장별 이용승객 현황_20250831","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:1ef727e2-855c-48ed-a11d-d697c59f400b":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20250930","operationId":"getuddi:1ef727e2-855c-48ed-a11d-d697c59f400b","description":"인천광역시_정류장별 이용승객 현황_20250930","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1ef727e2-855c-48ed-a11d-d697c59f400b_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:4dcb1b96-97a4-49df-afad-926e70ad5072":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20251130","operationId":"getuddi:4dcb1b96-97a4-49df-afad-926e70ad5072","description":"인천광역시_정류장별 이용승객 현황_20251130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4dcb1b96-97a4-49df-afad-926e70ad5072_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:e36d1b62-5c7d-463d-9996-a62d117445e5":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20251031","operationId":"getuddi:e36d1b62-5c7d-463d-9996-a62d117445e5","description":"인천광역시_정류장별 이용승객 현황_20251031","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e36d1b62-5c7d-463d-9996-a62d117445e5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:121d76ba-f73b-4f46-bb8d-8b48ef695e9c":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260131","operationId":"getuddi:121d76ba-f73b-4f46-bb8d-8b48ef695e9c","description":"인천광역시_정류장별 이용승객 현황_20260131","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:121d76ba-f73b-4f46-bb8d-8b48ef695e9c_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:7b207d36-ad7c-45d6-9911-eba679be7cc7":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20251231","operationId":"getuddi:7b207d36-ad7c-45d6-9911-eba679be7cc7","description":"인천광역시_정류장별 이용승객 현황_20251231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7b207d36-ad7c-45d6-9911-eba679be7cc7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:12aa2b41-2c18-4f26-baf9-c641e933943f":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260228","operationId":"getuddi:12aa2b41-2c18-4f26-baf9-c641e933943f","description":"인천광역시_정류장별 이용승객 현황_20260228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:12aa2b41-2c18-4f26-baf9-c641e933943f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:58b689b3-2684-40f8-9b8d-dc54da226c63":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260331","operationId":"getuddi:58b689b3-2684-40f8-9b8d-dc54da226c63","description":"인천광역시_정류장별 이용승객 현황_20260331","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:58b689b3-2684-40f8-9b8d-dc54da226c63_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:e3d66b8d-1c02-42f9-b6f8-a04485abfbe7":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260430","operationId":"getuddi:e3d66b8d-1c02-42f9-b6f8-a04485abfbe7","description":"인천광역시_정류장별 이용승객 현황_20260430","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:e3d66b8d-1c02-42f9-b6f8-a04485abfbe7_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:90617d9f-45e5-46fe-bfa1-e9d9c3ea2d3f":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260531","operationId":"getuddi:90617d9f-45e5-46fe-bfa1-e9d9c3ea2d3f","description":"인천광역시_정류장별 이용승객 현황_20260531","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:90617d9f-45e5-46fe-bfa1-e9d9c3ea2d3f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15048264/v1/uddi:931f0ff0-d7b6-4fa2-8088-e4c973a6b56e":{"get":{"tags":["API 목록"],"summary":"인천광역시_정류장별 이용승객 현황_20260630","operationId":"getuddi:931f0ff0-d7b6-4fa2-8088-e4c973a6b56e","description":"인천광역시_정류장별 이용승객 현황_20260630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:931f0ff0-d7b6-4fa2-8088-e4c973a6b56e_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소ID":{"type":"string","description":""},"승차건수(총합계)":{"type":"string","description":""},"하차건수":{"type":"string","description":""},"승차건수(카드)":{"type":"string","description":""},"하차건수(카드)":{"type":"string","description":""},"승차건수(현금)":{"type":"string","description":""},"일평균 승하차 건수":{"type":"string","description":""},"일평균 대당 승하차 건수":{"type":"string","description":""}}},"uddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:65680d20-57c9-4ff8-97ff-ae2554dd76f7_model"}}}},"uddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3_model":{"type":"object","properties":{"<!DOCTYPE html>":{"type":"string","description":""}}},"uddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:a1c55af5-ace7-40b8-97a2-873c06d9ace3_model"}}}},"uddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"string","description":""}}},"uddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:8a5dfed9-9ee8-4677-a29a-e5554d8174ae_model"}}}},"uddi:f1b9b893-dba1-4558-8367-bdc0a91feadd_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"string","description":""}}},"uddi:f1b9b893-dba1-4558-8367-bdc0a91feadd_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:f1b9b893-dba1-4558-8367-bdc0a91feadd_model"}}}},"uddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차 건수":{"type":"integer","description":""}}},"uddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:03b992a1-ebb6-41b9-ba3e-a6231ec02d4c_model"}}}},"uddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차 건수":{"type":"integer","description":""}}},"uddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ea8be33c-853e-46bd-b2e2-9b39a94f0e89_model"}}}},"uddi:397250e1-86cb-4413-9c36-ea8d8f4aa264_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소ID":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:397250e1-86cb-4413-9c36-ea8d8f4aa264_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:397250e1-86cb-4413-9c36-ea8d8f4aa264_model"}}}},"uddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:7b04a684-fbb6-4fc1-8072-d1c81112cd35_model"}}}},"uddi:957dd439-d559-4716-87df-fd3c9f12332f_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소(ID)":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"string","description":""}}},"uddi:957dd439-d559-4716-87df-fd3c9f12332f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:957dd439-d559-4716-87df-fd3c9f12332f_model"}}}},"uddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디(ID)":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:321c5d8c-0c4e-486e-abbb-876326c6e6a4_model"}}}},"uddi:e74eedbf-97d9-4176-81a7-debe927bd873_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:e74eedbf-97d9-4176-81a7-debe927bd873_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:e74eedbf-97d9-4176-81a7-debe927bd873_model"}}}},"uddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"string","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:9a0d04cb-b0a3-4883-92b6-ead5c328b174_model"}}}},"uddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수":{"type":"integer","description":""},"하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"string","description":""}}},"uddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d55a5b50-03ab-4859-9ef1-ae06f5f256c7_model"}}}},"uddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"승차건수":{"type":"integer","description":""},"하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:8a22b4c4-9838-4732-8e95-8775a3cafb5b_model"}}}},"uddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9_model":{"type":"object","properties":{"권역":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차 건수":{"type":"integer","description":""}}},"uddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:0b9de6e2-da8c-4b7d-9eef-b4eaf36c26e9_model"}}}},"uddi:a4bbad9e-8658-404e-b693-b45b262bc19c_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:a4bbad9e-8658-404e-b693-b45b262bc19c_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:a4bbad9e-8658-404e-b693-b45b262bc19c_model"}}}},"uddi:73376069-42cf-4994-9fc3-e64133e9b9c0_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:73376069-42cf-4994-9fc3-e64133e9b9c0_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:73376069-42cf-4994-9fc3-e64133e9b9c0_model"}}}},"uddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"string","description":""},"총하차건수":{"type":"string","description":""},"승차건수(카드)":{"type":"string","description":""},"하차건수(카드)":{"type":"string","description":""},"승차건수(현금)":{"type":"string","description":""},"일평균승하차건수":{"type":"string","description":""}}},"uddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:59d865ff-6269-4aaa-b768-bbe7b434a9c2_model"}}}},"uddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:e7057f2a-db69-48ae-8094-e04c4b9c94a3_model"}}}},"uddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:758fcf3b-e9d4-4c1f-87a6-b7f8758b6b78_model"}}}},"uddi:908f6324-6c2b-48cb-b489-e09ab1817428_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:908f6324-6c2b-48cb-b489-e09ab1817428_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:908f6324-6c2b-48cb-b489-e09ab1817428_model"}}}},"uddi:ea101e21-15b8-4e27-b7e5-c343fb41efda_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:ea101e21-15b8-4e27-b7e5-c343fb41efda_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ea101e21-15b8-4e27-b7e5-c343fb41efda_model"}}}},"uddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:9dbb03f7-f97b-40b0-aa9d-973aa240c492_model"}}}},"uddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1d1cb62b-b410-49ff-b15d-f07a4eab5c91_model"}}}},"uddi:874182e0-0c4a-4c76-a917-8c625af490e8_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:874182e0-0c4a-4c76-a917-8c625af490e8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:874182e0-0c4a-4c76-a917-8c625af490e8_model"}}}},"uddi:38809191-e18e-4ca6-87f9-93fb4f33e140_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:38809191-e18e-4ca6-87f9-93fb4f33e140_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:38809191-e18e-4ca6-87f9-93fb4f33e140_model"}}}},"uddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b9f1144c-d5fe-4ede-8f74-a0c3cbf7a964_model"}}}},"uddi:20b8a262-d480-42a5-b4ef-d4e5ba012175_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소ID":{"type":"integer","description":""},"승차건수(총합계)":{"type":"integer","description":""},"하차건수(총합계)":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균 승하차건수":{"type":"integer","description":""}}},"uddi:20b8a262-d480-42a5-b4ef-d4e5ba012175_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:20b8a262-d480-42a5-b4ef-d4e5ba012175_model"}}}},"uddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6524f09f-f29d-4cd7-93c1-9f7e8dd66543_model"}}}},"uddi:02d30c67-e904-4a34-9f73-ab6d7c441642_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:02d30c67-e904-4a34-9f73-ab6d7c441642_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:02d30c67-e904-4a34-9f73-ab6d7c441642_model"}}}},"uddi:8a57fca8-c211-487e-8641-96f1287104d8_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:8a57fca8-c211-487e-8641-96f1287104d8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:8a57fca8-c211-487e-8641-96f1287104d8_model"}}}},"uddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:bec82e9d-8c8d-407b-8e96-a196bd93a94e_model"}}}},"uddi:ffcc931c-1c47-4f57-8433-97667f7af786_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:ffcc931c-1c47-4f57-8433-97667f7af786_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ffcc931c-1c47-4f57-8433-97667f7af786_model"}}}},"uddi:d5dd817c-2659-44f8-bacd-e91d5c218127_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:d5dd817c-2659-44f8-bacd-e91d5c218127_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d5dd817c-2659-44f8-bacd-e91d5c218127_model"}}}},"uddi:cb5860ba-130f-491c-ad8b-f2e5024367c8_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:cb5860ba-130f-491c-ad8b-f2e5024367c8_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:cb5860ba-130f-491c-ad8b-f2e5024367c8_model"}}}},"uddi:5daa942f-316e-42b1-9042-8dec916ce6b5_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:5daa942f-316e-42b1-9042-8dec916ce6b5_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:5daa942f-316e-42b1-9042-8dec916ce6b5_model"}}}},"uddi:d6fa4184-c359-40e7-a763-ee58d0e42659_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:d6fa4184-c359-40e7-a763-ee58d0e42659_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d6fa4184-c359-40e7-a763-ee58d0e42659_model"}}}},"uddi:53c886ff-dccc-40b5-9c15-e36217d32f73_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:53c886ff-dccc-40b5-9c15-e36217d32f73_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:53c886ff-dccc-40b5-9c15-e36217d32f73_model"}}}},"uddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:6c65b7a4-8b17-433c-bad6-c6018035ed3f_model"}}}},"uddi:06bc471a-a9aa-419a-9d78-e4c2958b9875_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:06bc471a-a9aa-419a-9d78-e4c2958b9875_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:06bc471a-a9aa-419a-9d78-e4c2958b9875_model"}}}},"uddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d4c44a39-88b1-4374-a570-fe3d2ac699d1_model"}}}},"uddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:d8c55d9d-cd7b-4dd7-a7ec-a8cfea4fcced_model"}}}},"uddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:c9ab2232-73a9-4ef2-b0fe-efc5b86e4086_model"}}}},"uddi:ed5579e2-0039-47ee-8389-94a2b16d11aa_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:ed5579e2-0039-47ee-8389-94a2b16d11aa_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:ed5579e2-0039-47ee-8389-94a2b16d11aa_model"}}}},"uddi:75a69e58-159e-47a7-979d-af8549bab67b_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:75a69e58-159e-47a7-979d-af8549bab67b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:75a69e58-159e-47a7-979d-af8549bab67b_model"}}}},"uddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:40c17004-d6e5-4b5a-91e3-d0256c86e4e0_model"}}}},"uddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1c8aef50-1401-4f50-a86f-f4e4ed8fab1b_model"}}}},"uddi:1ef727e2-855c-48ed-a11d-d697c59f400b_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:1ef727e2-855c-48ed-a11d-d697c59f400b_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1ef727e2-855c-48ed-a11d-d697c59f400b_model"}}}},"uddi:4dcb1b96-97a4-49df-afad-926e70ad5072_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","description":""},"승차건수(카드)":{"type":"integer","description":""},"하차건수(카드)":{"type":"integer","description":""},"승차건수(현금)":{"type":"integer","description":""},"일평균승하차건수":{"type":"integer","description":""}}},"uddi:4dcb1b96-97a4-49df-afad-926e70ad5072_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:4dcb1b96-97a4-49df-afad-926e70ad5072_model"}}}},"uddi:e36d1b62-5c7d-463d-9996-a62d117445e5_model":{"type":"object","properties":{"정류소명":{"type":"string","description":""},"정류소아이디":{"type":"integer","description":""},"총승차건수":{"type":"integer","description":""},"총하차건수":{"type":"integer","descr
[...]
