{"swagger":"2.0","info":{"version":"1","title":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15128192/v1/uddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da":{"get":{"tags":["API 목록"],"summary":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20201231","operationId":"getuddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da","description":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20201231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15128192/v1/uddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f":{"get":{"tags":["API 목록"],"summary":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20211231","operationId":"getuddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f","description":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20211231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15128192/v1/uddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f":{"get":{"tags":["API 목록"],"summary":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20221231","operationId":"getuddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f","description":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20221231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15128192/v1/uddi:17148f00-6888-498c-aced-892de301afe1":{"get":{"tags":["API 목록"],"summary":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20231231","operationId":"getuddi:17148f00-6888-498c-aced-892de301afe1","description":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:17148f00-6888-498c-aced-892de301afe1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15128192/v1/uddi:b3bbd9ba-6942-42d8-9466-83642e3b5266":{"get":{"tags":["API 목록"],"summary":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20241231","operationId":"getuddi:b3bbd9ba-6942-42d8-9466-83642e3b5266","description":"인천광역시_국민기초생활수급자 연령별 읍면동 단위 현황_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:b3bbd9ba-6942-42d8-9466-83642e3b5266_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da_model":{"type":"object","properties":{"시도":{"type":"string","description":""},"시군구":{"type":"string","description":""},"읍면동":{"type":"string","description":""},"자격":{"type":"string","description":""},"연령구간":{"type":"string","description":""},"수급자수":{"type":"integer","description":""}}},"uddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:437d9f33-c8aa-4f3c-a8dc-f58c0fcf95da_model"}}}},"uddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f_model":{"type":"object","properties":{"시도":{"type":"string","description":""},"시군구":{"type":"string","description":""},"읍면동":{"type":"string","description":""},"자격":{"type":"string","description":""},"연령구간":{"type":"string","description":""},"수급자수":{"type":"integer","description":""}}},"uddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b98630e4-8b61-4a25-9f9d-f702c8698a9f_model"}}}},"uddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f_model":{"type":"object","properties":{"시도":{"type":"string","description":""},"시군구":{"type":"string","description":""},"읍면동":{"type":"string","description":""},"자격":{"type":"string","description":""},"연령구간":{"type":"string","description":""},"수급자수":{"type":"integer","description":""}}},"uddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:4e6c66ff-8e76-49ac-a19b-ae9c3500409f_model"}}}},"uddi:17148f00-6888-498c-aced-892de301afe1_model":{"type":"object","properties":{"시도":{"type":"string","description":""},"시군구":{"type":"string","description":""},"읍면동":{"type":"string","description":""},"자격":{"type":"string","description":""},"연령구간":{"type":"string","description":""},"수급자수":{"type":"integer","description":""}}},"uddi:17148f00-6888-498c-aced-892de301afe1_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:17148f00-6888-498c-aced-892de301afe1_model"}}}},"uddi:b3bbd9ba-6942-42d8-9466-83642e3b5266_model":{"type":"object","properties":{"시군구":{"type":"string","description":""},"읍면동":{"type":"string","description":""},"자격":{"type":"string","description":""},"연령구간(5세단위)":{"type":"string","description":""},"수급권자수":{"type":"integer","description":""}}},"uddi:b3bbd9ba-6942-42d8-9466-83642e3b5266_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:b3bbd9ba-6942-42d8-9466-83642e3b5266_model"}}}}}}