{"swagger":"2.0","info":{"version":"1","title":"인천광역시_인천시 시내버스 정류소 현황","description":""},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/15074309/v1/uddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20211117","operationId":"getuddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75","description":"인천광역시_시내버스 정류소 현황_20211117","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20220516","operationId":"getuddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2","description":"인천광역시_시내버스 정류소 현황_20220516","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20221130","operationId":"getuddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f","description":"인천광역시_시내버스 정류소 현황_20221130","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:929f320c-ffef-4f04-a896-fc91a50033b5":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20230630","operationId":"getuddi:929f320c-ffef-4f04-a896-fc91a50033b5","description":"인천광역시_시내버스 정류소 현황_20230630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:929f320c-ffef-4f04-a896-fc91a50033b5_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:c8aadf0a-8247-4ebb-a318-9f52422aff82":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20231231","operationId":"getuddi:c8aadf0a-8247-4ebb-a318-9f52422aff82","description":"인천광역시_시내버스 정류소 현황_20231231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:c8aadf0a-8247-4ebb-a318-9f52422aff82_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20240630","operationId":"getuddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed","description":"인천광역시_시내버스 정류소 현황_20240630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20241231","operationId":"getuddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92","description":"인천광역시_시내버스 정류소 현황_20241231","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:dc044188-40a9-4c07-b521-a463a1e3a5b1":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20250630","operationId":"getuddi:dc044188-40a9-4c07-b521-a463a1e3a5b1","description":"인천광역시_시내버스 정류소 현황_20250630","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:dc044188-40a9-4c07-b521-a463a1e3a5b1_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/15074309/v1/uddi:960620ea-ab97-47a7-ae65-86449debd303":{"get":{"tags":["API 목록"],"summary":"인천광역시_시내버스 정류소 현황_20260228","operationId":"getuddi:960620ea-ab97-47a7-ae65-86449debd303","description":"인천광역시_시내버스 정류소 현황_20260228","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/uddi:960620ea-ab97-47a7-ae65-86449debd303_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"uddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75_model":{"type":"object","properties":{"기준 일자":{"type":"string","description":""},"정류소 명":{"type":"string","description":""},"정류소 번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동 명":{"type":"string","description":""},"엑스 좌표":{"type":"string","description":""},"경도":{"type":"string","description":""},"와이 좌표":{"type":"string","description":""},"위도":{"type":"string","description":""}}},"uddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:1461b1bd-44d8-4b30-a6fd-ef1c3c3bbb75_model"}}}},"uddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"정류소 명":{"type":"string","description":""},"정류소 번호":{"type":"integer","description":""},"정류소 ID":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동 명":{"type":"string","description":""},"X 좌표":{"type":"string","description":""},"경도":{"type":"string","description":""},"Y 좌표":{"type":"string","description":""},"위도":{"type":"string","description":""}}},"uddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:7ba3bfe2-dc4a-49cd-88b8-aaa1de3057f2_model"}}}},"uddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f_model":{"type":"object","properties":{"기준 일자":{"type":"string","description":""},"정류소 명":{"type":"string","description":""},"정류소 번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동 명":{"type":"string","description":""},"엑스 좌표":{"type":"string","description":""},"경도":{"type":"string","description":""},"와이 좌표":{"type":"string","description":""},"위도":{"type":"string","description":""}}},"uddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:2405605a-fc1e-4462-bfb7-e9c93bb5a35f_model"}}}},"uddi:929f320c-ffef-4f04-a896-fc91a50033b5_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동명":{"type":"string","description":""},"엑스좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"와이좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:929f320c-ffef-4f04-a896-fc91a50033b5_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:929f320c-ffef-4f04-a896-fc91a50033b5_model"}}}},"uddi:c8aadf0a-8247-4ebb-a318-9f52422aff82_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동명":{"type":"string","description":""},"엑스좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"와이좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:c8aadf0a-8247-4ebb-a318-9f52422aff82_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:c8aadf0a-8247-4ebb-a318-9f52422aff82_model"}}}},"uddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed_model":{"type":"object","properties":{"기준일자":{"type":"integer","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동명":{"type":"string","description":""},"엑스좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"와이좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:13e44dd9-ea2b-4e5a-bfe4-8da119c146ed_model"}}}},"uddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92_model":{"type":"object","properties":{"기준 일자":{"type":"string","description":""},"정류소 명":{"type":"string","description":""},"정류소 번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동 명":{"type":"string","description":""},"엑스좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"와이좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:284e98e4-28a2-4ccb-b2f8-d39ff8439d92_model"}}}},"uddi:dc044188-40a9-4c07-b521-a463a1e3a5b1_model":{"type":"object","properties":{"기준일자":{"type":"string","description":""},"정류소명":{"type":"string","description":""},"정류소번호":{"type":"integer","description":""},"정류소아이디":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동명":{"type":"string","description":""},"엑스좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"와이좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:dc044188-40a9-4c07-b521-a463a1e3a5b1_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:dc044188-40a9-4c07-b521-a463a1e3a5b1_model"}}}},"uddi:960620ea-ab97-47a7-ae65-86449debd303_model":{"type":"object","properties":{"기준 일자":{"type":"integer","description":""},"정류소 명":{"type":"string","description":""},"정류소 번호":{"type":"integer","description":""},"정류소 ID":{"type":"integer","description":""},"권역":{"type":"string","description":""},"행정동 명":{"type":"string","description":""},"X 좌표":{"type":"string","description":""},"위도":{"type":"string","description":""},"Y 좌표":{"type":"string","description":""},"경도":{"type":"string","description":""}}},"uddi:960620ea-ab97-47a7-ae65-86449debd303_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/uddi:960620ea-ab97-47a7-ae65-86449debd303_model"}}}}}}